doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- end header, start actual content

    .container
      .row
        h1 TGDMB Tome's Background Formatter
        h2 What is a background?
        h3 <em>A background is not a feat</em>, backgrounds are...
        blockquote A way of helping you write one paragraph about your life leading up to the game, rather than just describing what you do. Which is what your class and skills are for. <br/>~ #[a( href="http://tgdmb.com/viewtopic.php?p=432397#432397") Koumei]
        form#left.col-sm-6
          .form-group
            label(for="bkgd_name") Name of Background
            input(class="form-control" id="bkgd_name" placeholder="Aristocrat")

          .form-group
            label(for="bkgd_quote") Quote for Background
            input(class="form-control" id="bkgd_quote" placeholder="I am wealthy, therefore I am special")

          .form-group
            label(for="bkgd_desc") Description for Background
            input(class="form-control" id="bkgd_desc" placeholder="You were born into privilege and wealth. This affords you not only material goods, but also a quality education and lots and lots of culture.")

          .form-group
            label(for="bkgd_effect") Effect of Background
            textarea.form-control(rows=4 id="bkgd_effect" placeholder="Diplomacy is a class skill for you.\n You gain +2 on Knowledge (Nobility) checks.\n You also begin at first level with an additional 300 gp.")
            p.help-block helper text
        
        // column 2 : right side
        .col-sm-6
          .form-group
            label(for="output") copy/paste for forum:
            textarea.form-control(rows=8 id="output" placeholder="Aristocrat    \"I am wealthy, therefore I am special\"\nYou were born into privilege and wealth. This affords you not only material goods, but also a quality education and lots and lots of culture.\n\nEffect:\n Diplomacy is a class skill for you. You gain +2 on Knowledge (Nobility) checks.\nYou also begin at first level with an additional 300 gp.")
 
    //- add in footer JS 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')
    //-script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.js')
    script( src="./tome-background-generator.js" )