doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- end header, start actual content

    .container
      .row
        h1 TGDMB Tome's Background Formatter
        form#left.col-sm-6
          .form-group
            label(for="bkgd_name") Name of Background
            input(class="form-control" id="bkgd_name" placeholder="BACKGROUND... of doooom")

          .form-group
            label(for="bkgd_quote") Quote for Background
            input(class="form-control" id="bkgd_quote" placeholder="My quote is witty, for *I* am witty")

          .form-group
            label(for="bkgd_desc") Description for Background
            input(class="form-control" id="bkgd_desc" placeholder="I was there. It was crazy. Now I'm special.")

          .form-group
            label(for="bkgd_effect") Effect of Background
            textarea.form-control(rows=4 id="bkgd_effect" placeholder="You come from a land of DOOM! And are tasked with SPREADING DOOM!\n Why? FOR THE SAKE OF DOOM!")
            p.help-block helper text
        
        // column 2 : right side
        .col-sm-6
          .form-group
            label(for="output") copy/paste for forum:
            textarea.form-control(rows=4 id="output" placeholder="Stuff")
 
    //- add in footer JS 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')
    //-script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.js')
    script( src="./tome-background-generator.js" )